<div>
  <h3>TuSegundazo.com</h3>
  <div>
    <img src="assets/Logo.JPG" alt="imagen" width="100%" height="20%">
  </div>
  <div class="col-sm-6">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">#</th>
          <th scope="col">Marca</th>
          <th scope="col">Línea</th>
          <th scope="col">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehiculo of vehiculos; let i = index">
          <th scope="row">{{vehiculo.id}}</th>
          <td>{{vehiculo.marca}}</td>
          <td>{{vehiculo.linea}}</td>
          <td>{{vehiculo.modelo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
