<div class="margeGenral">
  <h6 class="tituloNegrita">TuSegundazo.com</h6>
  <div>
    <img src="assets/Logo.JPG" alt="imagen" width="100%" height="190px">
  </div>
  <div class="col-sm-6 texto">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">#</th>
          <th scope="col">Marca</th>
          <th scope="col">Línea</th>
          <th scope="col">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehiculo of vehiculos">
          <th scope="row">{{vehiculo.id}}</th>
          <td>{{vehiculo.marca}}</td>
          <td>{{vehiculo.linea}}</td>
          <td>{{vehiculo.modelo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="texto">
    <span>Total Renault: {{countRenault}}</span><br>
    <span>Total Chevrolet: {{countChevrolet}} </span><br>
    <span>Total Nissan: {{countNissan}} </span>
  </div><br>
  <div>
    <p class="centrar texto">Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo</p>
  </div>
</div>
